%h1 Select an Activity for Weekly Program
.row
  .large-8.columns
    =link_to('Indoor Program', '#', 'data-role' => 'button')
.row
  .large-8.columns
    =link_to('Outdoor Program', '#', 'data-role' => 'button')
.row
  .large-8.columns
    =link_to('Weekly Group time planning', '#', 'data-role' => 'button')
