/* line 3, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.large {
  font-size: 3em;
}

/* line 7, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.medium {
  font-size: 2.25em;
}

/* line 11, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.small {
  font-size: 1.5em;
}

/* line 15, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
ul {
  list-style-type: none;
}

/* line 19, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.story li {
  display: inline-block;
  margin: 0.625em;
}

/* line 24, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.stories .story {
  padding: 0.4rem 0;
  margin: 0.4rem 0;
  border-bottom: 1px solid #008cba;
}
/* line 28, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.stories .story:last-child {
  border-bottom: none;
}

/* line 33, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.story .story-image {
  border-color: #eee;
  border: 0.625em solid rgba(255, 255, 255, 0.5);
  /* 10 */
  -webkit-box-shadow: 0 0 0.313em rgba(0, 0, 0, 0.05);
  /* 5 */
  -moz-box-shadow: 0 0 0.313em rgba(0, 0, 0, 0.05);
  /* 5 */
  box-shadow: 0 0 0.313em rgba(0, 0, 0, 0.05);
  /* 5 */
  -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
  -moz-transition: -moz-box-shadow .3s ease, border-color .3s ease;
  -ms-transition: -ms-box-shadow .3s ease, border-color .3s ease;
  -o-transition: -o-box-shadow .3s ease, border-color .3s ease;
  transition: box-shadow .3s ease, border-color .3s ease;
}
/* line 47, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.story .story-image:hover {
  border-color: #fff;
  -webkit-box-shadow: 0 0 0.938em rgba(0, 0, 0, 0.25);
  /* 15 */
  -moz-box-shadow: 0 0 0.938em rgba(0, 0, 0, 0.25);
  /* 15 */
  box-shadow: 0 0 0.938em rgba(0, 0, 0, 0.25);
  /* 15 */
}

/* line 56, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.italic {
  font-style: italic;
}

/* line 60, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.clear {
  clear: both;
}

/* line 64, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
td.time {
  width: 6rem;
}

/* line 68, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
td.action {
  width: 5rem;
}

/* line 72, /Users/hhuang/rails/kidcare/app/assets/stylesheets/common.scss */
.inline {
  display: inline-block;
}
