/* IMAGE LIGHTBOX SELECTOR */
/* line 3, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
  /* 50 */
  -moz-box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
  /* 50 */
  box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
  /* 50 */
}

/* WITH ACTIVITY INDICATION */
/* line 17, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-loading {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.625em;
  /* 10 */
  margin: -1.25em 0 0 -1.25em;
  /* 20 */
  -webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
  -moz-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
}
/* line 37, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-loading div {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 1.25em;
  /* 20 */
  height: 1.25em;
  /* 20 */
  background-color: #fff;
  -webkit-animation: imagelightbox-loading .5s ease infinite;
  -moz-animation: imagelightbox-loading .5s ease infinite;
  -o-animation: imagelightbox-loading .5s ease infinite;
  animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading {
  /* line 54, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  from {
    opacity: .5;
    -webkit-transform: scale(0.75);
  }

  /* line 58, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  /* line 62, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  to {
    opacity: .5;
    -webkit-transform: scale(0.75);
  }
}

@-moz-keyframes imagelightbox-loading {
  /* line 69, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  from {
    opacity: .5;
    -moz-transform: scale(0.75);
  }

  /* line 73, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  50% {
    opacity: 1;
    -moz-transform: scale(1);
  }

  /* line 77, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  to {
    opacity: .5;
    -moz-transform: scale(0.75);
  }
}

@-o-keyframes imagelightbox-loading {
  /* line 84, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  from {
    opacity: .5;
    -o-transform: scale(0.75);
  }

  /* line 88, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  50% {
    opacity: 1;
    -o-transform: scale(1);
  }

  /* line 92, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  to {
    opacity: .5;
    -o-transform: scale(0.75);
  }
}

@keyframes imagelightbox-loading {
  /* line 99, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  from {
    opacity: .5;
    transform: scale(0.75);
  }

  /* line 103, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  50% {
    opacity: 1;
    transform: scale(1);
  }

  /* line 107, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  to {
    opacity: .5;
    transform: scale(0.75);
  }
}

/* WITH OVERLAY */
/* line 115, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* WITH "CLOSE" BUTTON */
/* line 128, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-close {
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  text-align: left;
  text-indent: -9999px;
  background-color: #666;
  position: fixed;
  z-index: 10002;
  top: 2.5em;
  /* 40 */
  right: 2.5em;
  /* 40 */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
/* line 149, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-close:hover {
  background-color: #111;
}
/* line 153, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 161, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 171, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-close:before,
#imagelightbox-close:after {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px;
}

/* WITH CAPTION */
/* line 184, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-caption {
  text-align: left;
  color: #fff;
  background-color: #666;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625em;
  /* 10 */
}

/* WITH NAVIGATION */
/* line 198, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-nav {
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em;
  /* 60 */
  padding: 0.313em;
  /* 5 */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 217, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-nav a {
  width: 1em;
  /* 20 */
  height: 1em;
  /* 20 */
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 0.313em;
  /* 5 */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 228, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-nav a.active {
  background-color: #fff;
}

/* line 237, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav {
  -webkit-animation: fade-in .25s linear;
  -moz-animation: fade-in .25s linear;
  -o-animation: fade-in .25s linear;
  animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in {
  /* line 245, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  from {
    opacity: 0;
  }

  /* line 248, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  /* line 254, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  from {
    opacity: 0;
  }

  /* line 257, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  to {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  /* line 263, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  from {
    opacity: 0;
  }

  /* line 266, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  /* line 272, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  from {
    opacity: 0;
  }

  /* line 275, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 41.25em) {
  /* line 282, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  #container {
    width: 100%;
  }

  /* line 285, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  #imagelightbox-close {
    top: 1.25em;
    /* 20 */
    right: 1.25em;
    /* 20 */
  }

  /* line 289, /Users/hhuang/rails/kidcare/app/assets/stylesheets/image-lightbox.scss */
  #imagelightbox-nav {
    bottom: 1.25em;
    /* 20 */
  }
}
