%h1 New Group Time Planning

= render 'form'

= link_to 'Clone from previous group time planning',
           clone_weekly_program_group_time_plannings_path(@group_time_planning.weekly_program),
           class: 'button'
%p
= link_to 'Back', weekly_program_path(@group_time_planning.weekly_program)
