.item_title {
  font-weight: bold;
  text-decoration: underline;
}

.item_title, .item {
  display: inline-block;
  line-height: 2em;
}

.weekly_program {
  .category {
    font-weight: bold;
  }

  .day {
    color: #008CBA;
    font-weight: bold;
    font-style: italic;
  }
}
