.row
  .large-12.columns
    %ul.example-orbit{'data-orbit' => ''}
      %li
        = image_tag('girl.jpg')
      %li
        %img{src: 'http://placehold.it/1000x400&text=[%20img%202%20]'}/
      %li
        %img{src: 'http://placehold.it/1000x400&text=[%20img%203%20]'}/
%hr/
.row
  .large-4.columns
    = image_tag('about_us.jpg')
    %h4 About Us
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.columns
    = image_tag('today.jpg')
    %h4 Today @ Little Star
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.columns
    %h4
      Announcement
      %i.fi-megaphone
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p
            Address: 6 Nielsen Ave, Carlton NSW 2218
            %br
            Phone:(02) 9587 3703
        .large-3.columns
          %a.radius.button.right{href: '#'} Contact Us
