.row
  .large-12.columns
    %ul.example-orbit{'data-orbit' => ''}
      %li
        = image_tag('girl.jpg')
      %li
        %img{src: 'http://placehold.it/1000x400&text=[%20img%202%20]'}/
      %li
        %img{src: 'http://placehold.it/1000x400&text=[%20img%203%20]'}/
%hr/
.row
  .large-4.columns
    =link_to(about_us_path()) do
      = image_tag('about_us.jpg')
    %h4 About Us
    %p We at Little Star Early Learning Centre believe that our program and services offer developmentally appropriate curriculum and we strive to enhance social, emotional, physical and intellectual growth in young children.
  .large-4.columns
    =link_to(our_stories_path()) do
      = image_tag('today.jpg')
    %h4 Today @ Little Star
    %p As educators, we believe that all children have a right to respect, regardless of their abilities. We provide an environment that is safe yet stimulating, and a curriculum that challenges them through creativity, self choice, and learning through play.
  .large-4.columns
    %h4
      Hours of Operation
      %i.fi-megaphone
    %p
      The centre is open Monday to Friday, though it is closed for all public holidays.
    %p
      The centre is operating from 7.30AM till 6.00PM.
    %p
      The Centre is licensed to care for 31 children;   2-5 years old.
    %p
      The centre provides a program that reflects and challenges the development of children’s interests, skills and strengths, an environment that will encourage children to develop and foster positive attitudes of themselves and those around them
.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p
            Address: 6 Nielsen Ave, Carlton NSW 2218
            %br
            Phone:(02) 9587 3703
        .large-3.columns
          %a.radius.button.right{href: '#'} Contact Us
