.stories
  %ul
    %li
      =link_to(image_tag('about_us.jpg', class: 'story-image'), asset_path('/assets/boy.jpg'))
    %li
      =link_to(image_tag('about_us.jpg', class: 'story-image'), asset_path('/assets/girl.jpg'))
    %li
      =link_to(image_tag('about_us.jpg', class: 'story-image'), asset_path('/assets/about_us.jpg'))
