.stories
  %ul
    %li
      %a{href: '/assets/about_us.jpg'}
        =image_tag('about_us.jpg', class: 'story-image')
    %li
      %a{href: '/assets/boy.jpg'}
        =image_tag('about_us.jpg', class: 'story-image')
    %li
      %a{href: '/assets/girl.jpg'}
        =image_tag('about_us.jpg', class: 'story-image')
