%ul.stories
  %h4 2014-07-14 @Little Star
  - @stories.each do |story|
    %li
      %ul.story
        - story.story_attachment.each do |attachment|
          %li
            =link_to(image_tag(attachment.photo_url(:thumb), class: 'story-image', alt: "#{truncate(story.content, :length => 200,  :separator => ' ')}"), attachment.photo_url)
        %p
          = story.content

