.stories
  %ul
    %li
      =link_to('/assets/about_us.jpg') do
        =image_tag('about_us.jpg', class: 'story-image')
    %li
      =link_to('/assets/boy.jpg') do
        =image_tag('about_us.jpg', class: 'story-image')
    %li
      =link_to('/assets/girl.jpg') do
        =image_tag('about_us.jpg', class: 'story-image')
