%h1
  Weekly Program

%h3
  Learning Outcomes
.row
  .large-12.columns
    %p.outcomes
      - if @outcomes.any?
        .panel.callout.radius
          - @outcomes.each do |outcome|
            .outcome
              - if outcome.category == 'item_title'
                .item_title
                  = 'Outcome ' + outcome.long_description
              - else
                .item
                  = outcome.long_description
