%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © JCHAPPYPIG
      .large-6.columns
        %ul.inline-list.right
          %li
            =link_to 'Our Stories', our_stories_path
          %li
            =link_to 'About Us', about_us_path
          %li
            =link_to 'Register Interest', new_waiting_list_path
          %li
            =link_to 'Contact Us', contact_us_path
