%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © JCHAPPYPIG
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{href: '#'} Link 1
          %li
            %a{href: '#'} Link 2
          %li
            %a{href: '#'} Link 3
          %li
            %a{href: '#'} Link 4
