%footer
  .row
    .large-12.columns
    %hr/
  .row
    .large-12.columns
      © JCHAPPYPIG2014
      %ul.inline-list.right
        %li
          =link_to 'Learning Stories', our_stories_path
        %li
          =link_to 'Weekly Program', our_weekly_program_path
        %li
          =link_to 'About Us', about_us_path
        %li
          =link_to 'Register Interest', new_waiting_list_path
        %li
          =link_to 'Contact Us', contact_us_path
