.row
  .large-12.columns
    %nav.top-bar{'data-topbar' => ''}
      %ul.title-area
        %li.name
          %h1
            =link_to('Little Star Early Learning Centre', root_path)
        %li.toggle-topbar.menu-icon
          %a{href: '#'}
            %span
      %section.top-bar-section
        %ul.right
          %li
            =link_to 'Our Stories', stories_path
          %li.divider
          %li
            =link_to 'Our Stories', stories_path
          %li.divider
          %li
            =link_to 'Contact Us', contact_us_path
